.user-profile-container {
  width: 300px;
  display: flex;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-radius: 0.25rem;
}

.user-image {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
}

.user-details {
  margin-left: 0.75rem;
  font-size: 0.8rem;
}

.user-name {
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}
